**/Makefile
**/*.o
**/*.so
**/*~

config.h
config.log
config.status
src/TAGS
src/include/acconfig.h
src/include/version.h

src/lib/libMidWay.a
src/lib/libMidWay.so.0
src/lib/libMidWay.so.0.14
src/lib/testmidway
src/liburlencode/liburlencode.a
src/liburlencode/test-liburlencode
src/mwadm/mwadm
src/mwbd/mwbd
src/mwcall/mwcall
src/mwd/mwd
src/mwevent/mwevent
src/mwgwd/mwgwd
src/mwserver/mwserver
src/test/testsuiteclient

html-doc/mans/*html